---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    <div style="text-align: justify"> This tutorial is part of the ZL-LVC (Zero-Latency Linear Video Coding) project, ANR AAPG2020 (ANR-20-CE25-0014). 
    Fundings received through this project are gratefully acknowledged.
    </div><br>
    <img src="assets/img/404-static.gif" width="500" height="600"> <img src="assets/img/image2.png" width="500" height="600">
  </div>
</div>
